.right-bodysec{
    width: 83%;
    background-color: rgb(251,251,251);
}
@media only screen and (max-width: 991px) {
    .right-bodysec{
        width: 92%;
        background-color: rgb(251,251,251);
    }
}
.right-header{
    display: flex;
    width: 100%;
    background-image: url(../Assets/bxSearch.png);
    background-repeat: no-repeat;
    background-position-y: 22px;
    background-position-x: 2%;
    box-shadow: 1px 2px 5px rgb(219, 217, 217),-1px -1px 1px rgb(219, 217, 217);
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding-right: 1%;
    height: 4vw;
}
@media only screen and (max-width: 991px) {
    .right-header{
        display: flex;
        width: 100%;
        background-image: url(../Assets/bxSearch.png);
        background-repeat: no-repeat;
        background-position-y: 10px;
        background-position-x: 1%;
        box-shadow: 1px 2px 5px rgb(219, 217, 217),-1px -1px 1px rgb(219, 217, 217);
        border-radius: 8px;
        align-items: center;
        justify-content: space-between;
        padding-right: 1%;
        height: 5.3%;
    }
}
.nav-employee{
    background-image: url(../Assets/Employees.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    margin-left: 1px;
    font-size: 15px;
    background-position-y:13px ;
    background-position-x: 13px;
    border-style: none;
    background-color: #FFF4F4;
    border-radius: 2%;
    color: #fa5a5a;
    padding: 0% 30% 0% 18%;
    cursor: pointer;
}

.new-versions{
    background-color: #FEF6F6;
    padding: 2%;
    border-radius: 5%;
    margin:65% 5% 0% 0%;
}
@media only screen and (min-width: 1700px) {
    .new-versions{
        background-color: #FEF6F6;
        padding: 4%;
        border-radius: 5%;
        margin-bottom: auto;
    }
}
.nav-item-emp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}
.emp-decorator{
    height: 40px;
    border-left: 6px solid red;
    margin-right: 5%;
}
.nav-roles{
    float: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #818282;
    background-image: url(../Assets/Roles.svg);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-left: 15px;
    font-size: 15px;
    background-position-y:15px ;
    border-style: none;
    align-items: center;
    cursor: pointer;
}

.details{
    padding-right: 50%;
}

.body-sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Poppins';
    width: 100%;
    margin-right: 2%;
}
@media all and (max-width: 1100px) {
    .body-sec{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: 'Poppins';
        margin: 0% 0% 0% 0%;
    }
}
.emp-container{
    display: flex;
    flex-direction: row;
    flex:20% 80%;
    margin-right:17%
}
.sub-sec-header
{
    margin-top: -3.6%;
}
.sub-sec{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}
.sub-sec1{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.8%;
}
.sub-sec2{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.8%;
}
.sub-sec3{
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5%;
}
.inner-sub-sec{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}
.inner-sub-sec1{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}
.emp-info{
    width:100%;
}
.profile{
    display: flex;
    flex-direction: row;
}
.text-danger-empno{
    display:none;
    margin: -4% 0% 0% 3%;
    flex-direction: row;
}
.text-danger-email{
    display:none;
    margin: -4% 0% 0% 3%;
    flex-direction: row;
}
.text-danger-mobno{
    display:none;
    margin: -4% 0% 0% 3%;
    flex-direction: row;
}
.text-danger-lname{
    display:none;
    margin: -4% 0% 0% 3%;
    flex-direction: row;
}
.text-danger-fname{
    display:none;
    margin: -4% 0% 0% 3%;
    flex-direction: row;
}
.text-danger-img{
    display:none;
    margin-left: 8%;
    flex-direction: row;
}
.text-danger-jndate{
    display:none;
    margin: -4% 0% 0% 3%;
    flex-direction: row;
}
.inavalid{
    width: 10px;
    height: 12px;
    margin: 8% 3% 0% 0%;
}
.inavalid1{
    width: 10px;
    height: 12px;
    margin: 5% 3% 0% 0%;
}
.danger-msg{
    color:red;
    font-size: 13px;
}
.danger-msg-img{
    color: #fa5a5a;
    font-size: 20px;
}
.text-danger-imgbtn{
    background-color: #fa5a5a;
    color: white;
    width: 15vw;
    height: 40px;
    margin:8% 0% 0% -5%;
    border: none;
    cursor: pointer;
}
.profile-pic{
    width: 80px;
}
.edit-button{
    border: none;
    text-align: center;
    cursor: pointer;
    margin: 8% 0% 0% 14%;
    font-size: 18px;
    background-color: rgb(251,251,251);
}
#profileImg{
    border:none;
    display:none;
}
.emp-form{
    margin:0% 10% 0% 2%
}
.form-input{
    height: 40px;
    padding-left: 3% ;
    width: 13vw;
    border: 2px solid rgb(229, 225, 225);
    background-color: #f4f7f7;
}
.form-input-large{
    width: 20vw;
    height: 40px;
    border: 2px solid rgb(229, 225, 225);
    background-color: #f4f7f7;
}
.selection{
    width: 20vw;
    height: 40px;
    background-color: #F4F5F7;
    border: none;
    outline: none;
    cursor: pointer;
}
.selection1{
    width: 20vw;
    height: 40px;
    background-color: #F4F5F7;
    border: none;
    outline: none;
    color: rgb(133, 132, 132);
    cursor: pointer;
}
.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 54%;
}
.cancel{
    padding:0px 15px 0px 15px;
    color:#fa5a5a;
    background-color: #FBEBEB;
    width:80px;
    padding: 5px;
    border: none;
    margin-right: 3%;
    border-radius: 10%;
    cursor: pointer;
}
#dob{
    background-image: url(../Assets/date.png);
    background-size: 12%;
    background-position-y: 40% ;
    background-position-x: 5% ;
    background-repeat: no-repeat;
    padding-left: 20%;
}
.add-Employee-button{
    width:120px;
    background-color: #fa5a5a;
    color: white;
    border: none;
    border-radius: 10%;
    padding: 9px 9px 9px 9px;
    cursor: pointer;
}
.form-input-large:focus{
    outline: none;
    border: 3px solid #5FA5FF;
}
.form-input:focus{
    border:3px solid #5FA5FF ;
    outline: none;
}
.selection:focus{
    border:3px solid #5FA5FF ;
    outline: none;
}
.selection1:focus{
    border:3px solid #5FA5FF ;
    outline: none;
}
#snackbar {
    visibility: hidden;
    max-width: 350px;
    margin-left: -125px;
    color: #10e65e;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: relative;
    z-index: 100;
    top: -70%;
    left: 80%;
    /* top: -30%; */
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
.input-required{
    background-image: url("../Assets/asterisk.webp");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position-x:95%;
    background-position-y: 50% ;
    padding-right: 14%;
}