.right-bodysec{
    margin-top: -0.1%;
    width: 83%;
    padding-right: 1%;
    height: auto;
}
@media only screen and (max-width: 1100px) 
{
    .right-bodysec{
        margin-top: -0.1%;
        width: 92%;
        padding-right: 3%;
    }
}
.input-search{
    margin-left: 28%;
    border-style: none;
    color: #131414;;
    font-size: 1vw;
    margin-top: 5%;
    padding: 3%;
    border: none;
    background-color: #ffffff;
}
.input-search:focus{
    outline: none;
}
.logo-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.admin-details{
    display: flex;
    flex-direction: column;
    margin-top: -2%;
    margin-left: 3%;
}
.admin-role{
    margin-top: -15%;
    font-weight: bold;
}
.admin-name pre{
    margin-top: -3%;
}
.down-arrow img{
    width: 100%;
    margin-top: 170%;
    margin-left: 15%;
}
.person-icon{
    height: 35px;
    margin-top: 18%;
    border-radius: 50%;
    margin-left: 20%;
}
.user-img{
    position: relative;
}
.active-symbol{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(62, 195, 62);
    top:60%;
    left:90%;
}