.right-header{
    display: flex;
    width: 100%;
    background-image: url(../Assets/bx-search.png);
    background-repeat: no-repeat;
    background-position-y: 17px;
    background-position-x: 2%;
    box-shadow: 1px 2px 5px rgb(219, 217, 217),-1px -1px 1px rgb(219, 217, 217);
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    padding-right: 1%;
    height: 8%;
}
@media only screen and (max-width: 991px) {
    .right-header{
        display: flex;
        width: 100%;
        background-image: url(../Assets/bx-search.png);
        background-repeat: no-repeat;
        background-position-y: 32px;
        background-position-x: 1%;
        box-shadow: 1px 2px 5px rgb(219, 217, 217),-1px -1px 1px rgb(219, 217, 217);
        border-radius: 8px;
        align-items: center;
        justify-content: space-between;
        padding-right: 1%;
        height: 8%;
    }
}
.new-versions{
    background-color: #FEF6F6;
    padding: 4%;
    border-radius: 5%;
    margin: 45% 5% 0% 0%;
}
@media only screen and (min-width: 1600px){
    .new-versions{
        background-color: #FEF6F6;
        padding: 4%;
        border-radius: 5%;
        margin: 75% 5% 0% 0%;
    }
}
.nav-item-roles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 90% 10%;
}
.nav-roles{
    width: 82%;
    height: 10%;
    float: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    background-image: url(../Assets/Roles.svg);
    padding: 0% 0% -50% 19%;
    background-repeat: no-repeat;
    background-size: 18px;
    margin-left: 1px;
    font-size: 15px;
    background-position-y:23px ;
    background-position-x: 15px;
    border-style: none;
    background-color: #FFF4F4;
    border-radius: 2%;
    color: #fa5a5a;
    /* padding-right: 50%; */
}
.role-decorator{
    height: 60px;
    border-left: 6px solid red;
    margin-right: 5%;
}
.nav-employee{
    float: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #111112;
    background-image: url(../Assets/Employees.svg);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 20px;  
    margin-left: 15px;
    font-size: 15px;
    background-position-y:18px ;
    border-style: none;
    align-items: center;
}

.role-nav-item{
    text-decoration: none;
    color: red;
    padding-top: 10%;
    font-size: 17px;
    padding-bottom: 10%;
    padding-left: 25%;
}
.body-sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Poppins';
    margin-right: 1%;
}
@media all and (max-width: 1000px) {
    .body-sec{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: 'Poppins';
        margin: 0% 6% 0% 6%;
    }
}
.right-bodysec-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.greater-than-sign {
    content: "\003C";
    color: #010101;
    position: relative;
    top: 50px;
    left:69px;
    width: 10vw;
    height: 10px;
  }
.page-heading{
    tab-size: 4;
    color: #3B5064;
    font-size: 1.3vw;
}
.tab{
    display: inline-block;
    margin-left: 10px;
}

.page-heading-desc{
    color: #83909a;
    margin-top: -5.1%;
    font-size: 1vw;
}
.accessing-buttons{
    justify-content: space-between;
}
span {
    content: "\271A";
    color:white;
    position: relative;
    left: 27%;
  }
.add-button{
    background-color: #F44848;
    border-style: none;
    padding-left: 55px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding: 12px 25px 12px 55px;
    margin:5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.role-description{
    margin-top: -2%;
    display: flex;
    flex-direction: column;
}
.role-name{
    font-size: 1.3vw;
}
.about{
    margin-top: -1%;
    color: #83909a;
    font-size: 1vw;
}
.role-employees{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1%;
}
.role-emp{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    padding: 1%;
    margin-top: 1%;
    box-shadow: 1px 1px 1px rgb(196, 194, 194),-1px -1px 1px rgb(196, 194, 194);
}
@media only screen and (max-width: 991px) {
    .role-employees{
        margin:1% 10% 5% 10%;
    }
    .role-emp{
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 25vw;
        padding: 1%;
        margin-top: 5%;
        box-shadow: 1px 1px 1px rgb(196, 194, 194),-1px -1px 1px rgb(196, 194, 194);
    }
}

.sub-section{
    display: flex;
    flex-direction: row;
}
.emp-info{
    display: flex;
    flex-direction: column;
}
.profile-img{
    margin-right: 4%;
}
.emp-img{
    height: 35px;
    border-radius: 50%;
    margin-left: 20%;
}
.emp-info h3{
    margin-top: -1%;
}
.emp-info p{
    margin: -10% 0% 15% 0%;
}
.sub-section1{
    display: flex;
    flex-direction: row;
    margin-top: -8%;
}
@media only screen and (min-width: 1600px) {
    .sub-section1{
        display: flex;
        flex-direction: row;
        margin-top: 0.01vh;
        /* margin-top: -8%; */
    }
    .emp-info p{
        margin: -5% 0% 15% 0%;
    }
}
.sub-section1 img{
    margin-left: 3%;
}
.sub-section1 p{
    margin-left: 4%;
}
.low-sub-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.view{
    padding-right: 10%;
    text-decoration: none;
    color:#7B879C;
    background-image: url(../Assets/Vector.svg);
    background-repeat: no-repeat;
    background-position-x: 43px;
    background-position-y: 6px;
    cursor: pointer;
}
.role-emp p{
    color: #8e8e8f ;
}
.role-emp h3{
    color: #5c5c5c;
}
