*{
    box-sizing: border-box ;
}
.tezo-shortimg{
    cursor: pointer;
}
.left-bodysec{
    width: 17%;
    position: sticky;
    top: 0;
    height: 420px;
    /* overflow: ; */
}
@media only screen and (max-width: 1100px) {
    .left-bodysec{
        display: none;
    }
}
.vertical-shview{
    display: none;
    margin:1% 1% 1% 1%;
    width: 5%;
    flex-direction: column;
}
@media only screen and (max-width: 1100px) {
    .vertical-shview{
        display: block;
        margin:1% 2% 2% 1%;
        width: 5%;
        flex-direction: column;
    }
}
.tezo-shortimg{
    width: 40px;
    margin-left: -5%;
}
.nav-handlersh{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-handlersh-img{
    transform: rotate(180deg);
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 30%;
    margin-top: 7%;
}
@media only screen and (max-width: 1100px) {
    .nav-handlersh-img{
        display: none;
    }
}
.dashboard-img{
    margin: 3vh 0vh 0vh 1vh;
    cursor: pointer;
}

.access-rtsimg
{
    margin: 3vh 0vh 0vh 1vh;
    cursor: pointer;
} 
.roles-img
{
    margin: 3vh 0vh 0vh 1vh;
    cursor: pointer;
}
 .employee-img{
    margin: 3vh 0vh 0vh 1vh;
    cursor: pointer;
}
.nav-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4%;
}
.logo{
    height: auto;
    margin-left: 7%;
}
.nav-handler{
    margin-left: -10%;
    margin-right: 2%;
    cursor: pointer;
}
.nav-head{
    color: #D5D6D7;
    padding-left: 5%;
    padding-top: 8%;
    font-weight: bolder;
}
.nav{
    float: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #818282;
    background-image: url(../Assets/Dashboard.svg);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-left: 15px;
    font-size: 15px;
    background-position-y:18px ;
    border-style: none;
    align-items: center;

}
.nav-item{
    text-decoration: none;
    color: #656667;
    margin-left: 8%;
    font-size: 110%;
    margin-top: 8%;
}
.emp-nav-item{
    text-decoration: none;
    color: red;
    margin-left: 8%;
    margin-top: 9%;
    position: relative;
    font-size: 110%;
    padding-bottom: -10%;
    top: 30%;
}


.nav-accessrts{
    float: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #818282;
    background-image: url(../Assets/assignUser.svg);
    padding-left: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-left: 15px;
    font-size: 15px;
    background-position-y:18px ;
    border-style: none;
    align-items: center;

}


.new-version-head{
    color:#F44848;
}
.version-desc{
    color: #D5D6D7;
    margin-top: -2%;
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.dismiss{
    padding:4% 9%;
    border-radius: 15%;
    border-style: none;
    background-color: #f8c7c7;
    color: #F44848;
    cursor: pointer;
}
.accept{
    margin-left: 4%;
    padding:4% 9%;
    border-radius: 15%;
    border-style: none;
    background-color:#F44848;
    color: white;
    cursor: pointer;
}